
    <footer  class="parallax parallax_five footer" data-stellar-background-ratio="0.5">
        <div class="parallax_inner">
          <div class="container">
              <!--=========================
              Contact Form
              ===========================-->          
            <div class="contact_Us">
       		     <div id="tab1" class="tab-content active">   
                    <ul class="channels_list row animatedParent " data-sequence="400">
                      <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="2"><a href="https://soundcloud.com/alicedrive"><i class="fa fa-soundcloud"></i>ALICE DRIVE soundcloud</a></li>
                      <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="3"> <a href="https://www.youtube.com/playlist?list=PLy3Q7zspZmXN49W-493YW03IOwynRLyfO&feature=c4-feed-u"><i class="fa fa-youtube"></i>ALICE DRIVE youtube</a></li>
                      <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="4"> <a href="https://vk.com/alicedrive"><i class="fa fa-instagram"></i>ALICE DRIVE vkontakt</a></li>
                      <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="5"> <a href="https://vk.com/alicedrivepublic"><i class="fa fa-flickr"></i>ALICE DRIVE public</a></li>
                    </ul>
                </div>
           
            </div>  
          	
            
            <div class="row">
              <div class="col-xs-12">
                <div class="copyrights">&copy; 2019 <a href="#">ALICE DRIVE</a></div>
              </div>
            </div>
          </div><!--container--> 
        </div><!--parallax_inner--> 
      </footer><!--//parallax--> 