              
              <banner-component></banner-component>

              <section id="section_2" class="news_section section_first" >
                <div class="container animatedParent ">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="section_head_widget">
                        <h2 class="animated fadeInDown">ALICE DRIVE новости</h2>
                        <h5 class="animated fadeInLeft">Последние новости</h5>
                      </div>
                    </div>
                    <!--column--> 
                  </div>
                  <!--row--> 
                </div>
                <!--contaier-->
                <div class="news_widget">

                    <div class="container controls_wrapper animatedParent"  *ngFor="let news of visibleNews;let i=index">
                      <div style="height:600px" *ngIf="i<1">
                      <div class="col-sm-6 col-xs-12" style="float:left" >
                            <figure><img class="track_box animated fadeInUp go" src="{{news.img}}">
                            </figure>
                        </div>
            
                    <div style=" margin-top: 25px;" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  >
                              <div class="col-xs-12 col-sm-12 col-md-12" >
                                  {{news.content}} 
                             
                              </div>
                  
                      </div>
                      </div>
            

                  
                </div>

                </div>
                <a style="color: red; margin-left: 158px;" href="/news">ЧИТАТЬ БОЛЬШЕ</a>

                </section>
            
			 
			 
						
		<!--======================================
    Parallax/Testimonial Section
    ==========================================-->


    <section  class="parallax parallax_one facebook_promo animatedParent " data-stellar-background-ratio="0.5">
      <div class="parallax_inner ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="animated bounceInUp go">What I knew, what I thought   </h1>
              <h3 class="animated fadeInDown go">The time will never erase it... </h3>
              <a href="http://vk.com/alicedrive" class="btn btn_fb">like us on vkontakte</a> </div>
            <!--column--> 
          </div>
          <!--row--> 
        </div>
        <!--container--> 
      </div>
      <!--parallax_inner--> 
    </section>


      <!--//parallax--> 	 
      
		 <!--================
    Music
    ====================-->
      <section class="news_section section_first">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="section_head_widget animatedParent ">
                <h2 class="animated fadeInLeft">ALICE DRIVE музыка</h2>
              </div>
              <!--section_head_widget--> 
            </div>
          </div>
          <!--row-->
          <div class="row tracks_widget">
            <div class="col-sm-12 col-xs-12 animatedParent" *ngFor="let music of visibleMusic ; let i=index">
              <div class="col-sm-6 col-xs-12 musicAbout" style="float:left" *ngIf="i<2" style="border-color: #cc1313;border-bottom: 1px solid grey; margin-bottom: 29px;">
               <h5> {{music.title}}    </h5> 
                <figure><img class="track_box animated fadeInUp go" src="{{music.img}}">
                      </figure>
                  </div>
      
                  <div style="float:left; margin-top: 25px;" class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  *ngIf="i<2">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 3px;" *ngFor="let musicDetail of music.musicList" >
                           <audio controls style="float:left; margin-right: 8px;">
                            <source  src="{{musicDetail.url}}" type="audio/mp3" preload="metadata" >
                           </audio><audio src="{{musicDetail.url}}" preload="auto" ></audio>
                           {{musicDetail.title}}
                           <label *ngIf="musicDetail.textMusic !=''" class="popup-shower"  style="margin:10px; border-left: 1px solid grey; padding-left: 10px;"  for="{{musicDetail.id}}" >
                            Слова
                           </label>
              
                                              <div class="popup-wrapper">
                                                <input type="checkbox" class="popup-checkbox" id="{{musicDetail.id}}">
                                                <div class="popup">
                                                  <div class="popup-content textMusic"  style="border: 1px solid grey;border-radius: 11px;">
                                                    <label for="{{musicDetail.id}}" class="popup-closer">&#215;</label>
                                                   <div class="textMusic">
                                                    {{musicDetail.textMusic}}
                                                     </div>
                                                  </div>
                                                </div>
                                              </div>                       
                    </div>
        
            </div>
            </div>




 <a style="color: red; margin-left: 158px;" href="/music">CЛУШАТЬ БОЛЬШЕ</a>

		</div>
            <!--column-->
       </div>
     
    </section> 
				
		<!--======================================
    Parallax/Testimonial Section
    ==========================================-->

    <section id="section_8" class="parallax parallax_three event_promo" data-stellar-background-ratio="0.5" style="background-position: 50% 0%;">
      <div class="parallax_inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 animatedParent ">
              <h1 class="animated fadeInDown go">I’m gonna take it along</h1>
              <h3 class="animated bounceInRight go">Wanna see you come homes</h3>
              <h5 class="animated bounceInUp go"> Now I know that it’s over...</h5>
            <!--column--> 
          </div>
          <!--row--> 
        </div>
      </div>
        <!--container--> 
      </div>
      <!--parallax_inner--> 
    </section>


      <!--//parallax--> 


 <!--======================================
    Media Section
    ==========================================-->		
				
				

             
<section  class="news_section section_first">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="section_head_widget animatedParent">
          <h5 class="animated bounceInUp">ФОТО &amp; ВИДЕО</h5>
        </div>
      </div>
      <div style="width:200px">
               </div>

      <!--section_head_widget--> 
    </div>
    <!--row-->
    
    <div class="row media_widget">
     
      <div class="col-xs-12 col-sm-4 col-md-3 animatedParent" *ngFor="let image of visibleImages; let i=index">
                       
                <figure class="animated fadeInUp go" *ngIf="i<4"> 
                  <a [routerLink]="['/image',image.id]" style="height:180px" >
                    <img src="{{image.url}}">
                  </a>
                  <figcaption style="height:160px">
                    <a [routerLink]="['/image',image.id]" style="height: 90px;">
                      <h6>{{image.title}}</h6>
                     {{image.imageList.length}} photos 
                    </a>
                  </figcaption>
                </figure> 

        <!--figure--> 
      </div>
      <!--Column / media item--> 
      <a style="color: red; margin-left: 158px;" href="/gallery">СМОТРЕТЬ БОЛЬШЕ</a>
      
    </div>
  </div>
  
  <!--container--> 
</section>

<section class="parallax parallax_four latest_tweets " style="background-position: 50% 43px;" data-stellar-background-ratio="0.5">
  <div class="parallax_inner ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="animated fadeInUp go">I say</h1>
          <h3 class="animated fadeInDown go">This is my story</h3>
          <h3 class="animated fadeInDown go">How can that be...</h3>

        <!--column--> 
      </div>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
</div>
  <!--parallax_inner--> 
</section>

    <!--======================================
    Movie Section
    ==========================================-->


  <section id="section_5" class="track_section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="section_head_widget animatedParent ">
              <h2 class="animated fadeInLeft">ALICE DRIVE видео</h2>
            </div>
            <!--section_head_widget--> 
          </div>
          </div>
        <!--row-->
        <div class="row tracks_widget">

         <div class="col-sm-12 col-xs-12 animatedParent"  *ngFor="let medias of visibleMedias;let i=index">
            <div style="float:left" class="col-sm-12 col-xs-12 track_box animated fadeInUp go" *ngIf="i<2">

                 <!--column-->
                 <figure class="animated fadeInUp go"> 
                  <iframe [src]="medias.src | safe"  class="iframe" height="300px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                 </figure>
                 {{medias.title}}
              
                 </div>
            <!--//news_box--> 
          </div>
     
         
          <!--column-->
              
      <a style="color: red; margin-left: 158px;" href="/media">СМОТРЕТЬ БОЛЬШЕ</a>
      </div>


     </div>
     </section>
  

     <band-component></band-component>
      

      <!--======================================
    Tours Section
    ==========================================-->
    <section  class="tours_section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section_head_widget">
              <h2>ALICE DRIVE концерты</h2>
            </div>
          </div>
          <!--section_head_widget--> 
        </div>
        <!--row-->
    
        <div class="tours_widget">
          <div class="tour_row_header">
            <div class="column_one"> Дата</div>
            <div class="column_two"> &nbsp;<!--no header for picture column--> 
            </div>
            <div class="column_three"> Событие</div>
            <div class="column_four"> Адрес проведения</div>
            <div class="column_five"> Описание </div>
          </div>
          <div class=" animatedParent"  *ngFor="let tour of visibleTours;let i=index">
             <div class="tour_row animated fadeInDownShort" *ngIf="i<4">
              <div class="column_one">
                <span>10/10/14</span>
              </div>
              <div class="column_two"> 
                <img src="{{tour.img}}"  /> </div>
            <div class="column_three">{{tour.title}} </div>
            <div class="column_four">{{tour.title}} </div>
            <div class="column_five"> {{tour.description}} </div>
            <div class="column_six"> 
                  <a class="btn btn_buy_ticket"  [routerLink]="['/tour',tour.id]" >
                  Подробней</a> </div>
            </div>
          </div>
          <!--tour row-->
          
      
          <!--tour row-->
          
  
     
          <!--tour row--> 
        </div>

        <a style="color: red; margin-left: 158px;" href="/tours">СМОТРЕТЬ БОЛЬШЕ</a>

      </div>
      <!--container--> 
    </section>
